#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0rem;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  
  .swiper-slide {
    text-align: left;
    /* font-size: 18px; */
    background: #fff;
    border-radius: 20px;
    box-shadow: 30px 30px 0px #ceebe2;  
    margin-bottom: 2rem;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
