@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
body{
    padding: 2rem;
}

/* reusable classes */
.mb{
    margin-bottom: 2rem;
}

.common-btn{
    display: flex;
    align-items: center;
    padding: 1rem;
    border: none;
    background: #8dd3bb;
    color: #000;
    font-weight: 600;
    border-radius: 5px;
}

/* --------- */

/* Landing page nav bar */

.lp-header{
    background: linear-gradient(90deg, #00000038, #0000004f),url(../assets/LPheadbg.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 65vh;
    border-radius: 20px;
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.lp-nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 2.5rem;
}
.lp-nav ul{
    display: flex;
    align-items: center;
}
.lp-booking-nav-ul-1 li{
    display: flex;
    align-items: center;
}
.lp-nav ul li{
    list-style: none;
    padding:0 1rem;
}
.lp-header-content{
    text-align: center;
    color: #fff;
    margin-top: 5rem;
}
.ho{
    font-weight: 500;
    font-size: 3rem;
}
.lt{
    font-weight: 600;
    font-size: 5.5rem;
}
.lp-header-content p{
    font-size: 1.75rem;
}
.header-signup-btn{
    cursor: pointer;
    padding: 0.6rem;
    border: none;
    border-radius: 5px;
    background: #fff;
}

/* end */

/* trip places */
.places-section{
    width: 80%;
    margin:0 auto ;
    margin-top: 12rem;
    align-items: center;
}

.places-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.places-nav-con{
    line-height: 2.5rem;
}
.places-nav-con h2{
 font-size: 2.5rem;
}
.places-nav-con p{
    font-size: 1.2rem;
}
.places-nav-btn{
    font-size: 1rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid #8dd3bb;
    border-radius: 5px;
}
.places-card-row{
    display: grid;
    grid-template-columns: auto auto auto;
}
.place-card{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    width: max-content;
}
.place-con{
    margin-left: 2rem;
}
.place-con p{
    color: #797575;
    font-weight: 600;
    font-size: 1.2rem;
}
.place-features{
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.place-features li{
    list-style: none;
    margin-right: 1.5rem;
}
.dot{
    height: 1px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 1.5rem;
}

/* end */

/* main offerings section */

.main-offerings{
    width: 80%;
    margin: 5rem auto 0;
    display: flex;
    justify-content: space-between;
    height: 30rem;
    margin-bottom: 3rem;
}
.flight-offering{
    background:linear-gradient(180deg, #0000002c , #000000a2),url(../assets/flightsMianOffering.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 1rem;
    border-radius: 15px;
    display: flex;
    align-items:end;
}
.hotel-offering{
    background:linear-gradient(180deg, #0000002c , #000000a2),url(../assets/hotelMainOffering.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 1rem;
    border-radius: 15px;
    display: flex;
    align-items:end;
}
.offering-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem 10rem;
    color: #fff;    
}
.offering-con button{
    margin-top: 1rem;
    justify-content: center;
    padding: 1rem;  
}
.offering-con p{
    margin-top: 0.5rem;
}   
/* end */

/* Subscribe section */
.subscribe-section-p{
    position: relative;
}
.subscribe-section{
    width: 80%;
    margin: 5rem auto 0;
    padding: 1rem 1.5rem 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background: #cdeae1;
    position: absolute;
    top : -1rem;
    left: 10rem;
}

.subscribe-content h4{
    color: #112211;
    margin-top: 1rem;
}
.subscribe-content p{
    color: #374a3b;
}
.sub-input{
    margin-top: 1.5rem;
    padding: 1rem 0.2rem;
    width: 26rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}
.sub-btn{
    padding: 1rem;
    color: #fff;
    background: #112211;
    margin-left: 2rem;
    border-radius: 5px;
    border: none;
}

/* end */

/* FOOTER SECTION */

.footer{
    margin-top: 15rem;
    padding: 5rem;
    padding-top: 15rem;
    background: #8dd3bb;
    display: flex;
    align-items: first baseline;
    justify-content: space-evenly;
    border-radius: 20px;
}
.footer-logo{
    height: 2.5rem;
}
.footer-social-logos{
    display: flex;
}

.footer-sec{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: first baseline;
}
.footer-sec li{
    list-style: none;
    display: flex;
    align-items: center;
}


/* end */


/* Media query */

@media (max-width:768px) {
    body{
        padding: 0;
    }
 
/* Landing page nav bar */

.lp-header{
    background: linear-gradient(90deg, #00000038, #0000004f),url(../assets/LPheadbg.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 65vh;
    border-radius: 20px;
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.lp-nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 2.5rem;
}
.lp-nav ul{
    display: flex;
    align-items: center;
}
.lp-booking-nav-ul-1 li{
    display: flex;
    align-items: center;
}
.lp-nav ul li{
    list-style: none;
    padding:0 1rem;
}
.lp-header-content{
    text-align: center;
    color: #fff;
    margin-top: 5rem;
}
.ho{
    font-weight: 500;
    font-size: 3rem;
}
.lt{
    font-weight: 600;
    font-size: 5.5rem;
}
.lp-header-content p{
    font-size: 1.75rem;
}
.header-signup-btn{
    cursor: pointer;
    padding: 0.6rem;
    border: none;
    border-radius: 5px;
    background: #fff;
}
/* end */

/* Flight Stay Seleciton */

.lp-flight-details{
    width: 100%;
    position: none;
}

.selection-panel{
    width: 100%;
    position: none;
    right: 0;
    left: 0;
    top: 0;
}
.flight-stay-tabs{
    width:  100%;
    display: flex;
}
.stays{
    margin-left: 1.5rem;
}
.flights, .stays{
    display: flex;
    text-align: center;
}
.flights a, .stays a{
     color: #000;
     text-decoration: none;
     font-weight: 700;
}
.bar{
    border: 1px solid #000;
    margin-left: 1.5rem;
}
.flights-details{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    align-items: center;
}
.flight-destination-input{
    display: flex;
    border: 1px solid #000;
}
.flight-destination-input input{
    border: none;
    font-size: 1rem;   
    padding: 1rem 2rem;
}
.flight-ways select{
    border: 1px solid #000;
    padding: 1rem 2rem;
    font-size: 1rem;   
}
.depart-return-date input{
    font-size: 1rem;   
    border: 1px solid #000;
    padding: 1rem 3rem;
}
.passenger-class input{
    font-size: 1rem;   
    border: 1px solid #000;
    padding: 1rem 3rem;
}
    

.promo-code{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.promo-code-type{
    margin-right: 2rem;
    text-decoration: none;
    color: #000;
}

/* end */
/* Trips Places1 */
.places-section{
    width: 90%;
    margin:2rem auto ;
}

.places-card-row{
    grid-template-columns: auto auto;
}

/* end */


/* subscribe sec */
.subscribe-section{
    width: max-content;
    margin: 5rem auto 0;
    padding: 1rem 1.5rem 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    background: #cdeae1;
    position: absolute;
    top : -2rem;
    left: 0;
}
/* end */


/* footer */
.footer{
    margin-top: 15rem;
    width: max-content;
    padding: 5rem;
    padding-top: 15rem;
    background: #8dd3bb;
    display: flex;
    align-items: first baseline;
    justify-content: space-evenly;
}
/* end */

}


/* end */