@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
body{
    padding: 2rem;
}
/* Landing page nav bar */

.lp-header{
    background: linear-gradient(90deg, #00000038, #0000004f),url(../assets/LPheadbg.png);
}
/* end */

/* trip places */
.place-card{
    width: max-content;
}
/* end */

/* main offerings section */
.flight-offering{
    background:linear-gradient(180deg, #0000002c , #000000a2),url(../assets/flightsMianOffering.png);
}
.hotel-offering{
    background:linear-gradient(180deg, #0000002c , #000000a2),url(../assets/hotelMainOffering.png);
}
/* end */